.underline-hover {
  position: relative;
  /* font-size: 1.25rem; */
  font-weight: 600;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: color 0.3s;
}

/* Only apply hover if not active */
.underline-hover:hover:not(.active) {
  color: var(--accent-primary);
}

.underline-bar {
  position: absolute;
  left: 0;
  bottom: -0.25rem;
  width: 0;
  height: 0.125rem;
  background: linear-gradient(to right, var(--accent-primary), var(--accent-secondary));
  transition: all 0.3s;
}

/* Only expand bar if not active */
.underline-hover:hover:not(.active) .underline-bar {
  width: 100%;
}

/* Always show underline when active */
.underline-hover.active .underline-bar {
  width: 100%;
  background-color: white;
}
