:root {
  --background: 220 15% 9%;
  --foreground: 210 24% 96%;

  --card: 220 15% 12%;
  --card-foreground: 210 24% 96%;

  --border: 220 10% 20%;
  --ring: 199 100% 45%;

  /* brand */
  --primary: 199 100% 45%;     
  --primary-foreground: 210 40% 98%;
  --accent: 188 66% 80%;
  --accent-foreground: 224 71% 4%;
}

/* Blizzard preset (dark gray + sky blue) */
:root[data-preset="blizzard"] {
  --primary: hsl(224, 37%, 12%);
  --secondary: hsl(207, 92%, 36%);
  --accent-primary: hsl(197, 100%, 50%);
  --accent-secondary:hsl(215, 99%, 58%);
  --background: hsl(224, 37%, 12%);
  --card: hsl(220, 15%, 12%);
  --border: hsl(240, 1%, 24%);
  --ring: hsl(199, 100%, 45%);
  --foreground: hsl(0, 0%, 27%);
  --gradient: linear-gradient(135deg, hsl(199, 100%, 45%), hsl(188, 66%, 80%));
  --text-h1: hsl(0, 0%, 100%);
}

