@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "International";
  src: url("./assets/fonts/international/International.ttf") format("truetype");
  font-display: swap;
}
@plugin "tailwind-scrollbar";
@import "./style/tokens.css";
@import "flag-icons/css/flag-icons.min.css";

@theme {
  --color-foreground: hsl(var(--foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-border: hsl(var(--border));
  --color-ring: hsl(var(--ring));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-accent-primary: var(--accent-primary);
  --color-accent-secondary: var(--accent-secondary);
  --color-text-h1: var(--text-h1);
  --color-badge-primary: var(--badge-primary);
  --color-badge-foreground: var(--badge-foreground);
  --color-text-p: var(--text-p);
  --color-accent-foreground: var(--accent-foreground);
  --color-component-primary: var(--component-primary);
  --color-action-primary: var(--action-primary);
  --color-action-hover: var(--action-hover);
  --color-accent-thirdary: var(--accent-thirdary);
  --color-subtle: var(--subtle);
}

@layer scrollbar {
  * {
    @apply scrollbar-thin scrollbar-thumb-accent-primary scrollbar-track-transparent;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
